<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="shortcut icon" href="/img/favicon.png" />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Mil Sabores</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="/css/style.css">
</head>

<body id="pageGerenteClientesActive">
	<div id="menuSanduiche">
		<label class="sanduiche"> <span></span> <span></span> <span></span>
		</label>
	</div>
	<nav>
		<span> <a id="nomeSite" href="index.html">Mil Sabores</a>
		</span>
		<ul id="menu">
			<li><a class="aba1" href="/home">Início</a></li>
			<li><a class="aba6" href="/gerente/prato/listar">Pratos</a></li>
			<li><a class="aba7" href="/gerente/cliente/listar">Clientes</a></li>
			<li><a class="aba8" href="/pedido/listar_pendente">Pedidos</a></li>
			<li><a class="aba5" href="/sair">Sair</a></li>
		</ul>
	</nav>
	<p id="subTitle">Clientes Cadastrados</p>
	<section>
		<table id="tableLista">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Nome</th>
					<th scope="col">CPF</th>
					<th scope="col">Data Nascimento</th>
					<th scope="col">Endereço</th>
					<th scope="col">Email</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cliente: ${listaClientes}">
					<td data-label="ID: " scope="row" th:text="${cliente.idCliente}"></td>
					<td data-label="Nome: " scope="row" th:text="${cliente.nome}"></td>
					<td data-label="CPF: " scope="row" th:text="${cliente.cpf}"></td>
					<td data-label="Nascimento: " scope="row" th:text="${{cliente.dataNascimento}}"></td>
					<td data-label="Endereço: " scope="row" th:text="${cliente.endereco}"></td>
					<td data-label="E-mail: " scope="row" th:text="${cliente.email}"></td>
				</tr>
			</tbody>
		</table>
	</section>
	<footer>
		<span> <a href="https://www.tripadvisor.com.br" title="TripAdvisor"><img id="iconsLink"
					src="/img/tripAdvisor.png" /></a>
		</span> <span> <a href="https://www.facebook.com/" title="Facebook"><img id="iconsLink"
					src="/img/facebook.png" /></a>
		</span> <span> <a href="https://www.instagram.com/" title="Instagram"><img id="iconsLink"
					src="/img/instagram.png" /></a>
		</span> <br>By Tiago A. Fontenele <br> Fone: (99) 9 9999-9999 <br>
		2019
	</footer>
	<script src="/js/main.js" defer></script>
	<script src="/js/jquery.min.js" defer></script>
	<script src="/js/jquery.mask.min.js" defer></script>
</body>

</html>