<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="shortcut icon" href="/img/favicon.png" />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Mil Sabores</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="/css/style.css">
</head>

<body id="pageHomeActive">
	<div id="menuSanduiche">
		<label class="sanduiche"> <span></span> <span></span> <span></span>
		</label>
	</div>
	<nav>
		<span> <a id="nomeSite" href="/">Mil Sabores</a>
		</span>
		<ul id="menu">
			<li><a class="aba1" href="/">Início</a></li>
			<li><a class="aba2" href="/sobre">Sobre</a></li>
			<li><a class="aba3" href="/pratos">Pratos</a></li>
			<li><a class="aba4" href="/contato">Contato</a></li>
			<li sec:authorize="!isFullyAuthenticated()"><a class="aba5" href="/entrar">Entrar</a></li>
			<li sec:authorize="isFullyAuthenticated()"><a class="aba5" href="/redirect"
					th:text="${userLogado.nome}"></a></li>
		</ul>
	</nav>


	<header>
		<span>
			<section class="secHome" id="info">
				<h3 sec:authorize="isFullyAuthenticated()">
					<span th:text="${'Olá, '+userLogado.nome}"></span>
				</h3>
				<h3>Seja bem-vindo(a)!</h3>
				<p>
					Nosso restaurante dispõe de diversos pratos dos mais variados
					gostos e paladares. Contamos com os melhores chefes de cozinha para
					preparar a sua comida preferida, ou caso queira experimentar novos
					sabores. <br> Não perca tempo, faça seu pedido ou venha nos
					visitar!
				</p>
			</section>
		</span>
	</header>

	<p id="subTitle">Pratos Especiais do Dia</p>
	<div class="conteiner">
		<span> <img src="/img/prato9.jpg" alt="">
			<h2>Fabada Asturiana</h2>
			<h1>R$ 14,00</h1>
		</span> <span> <img src="/img/prato2.jpg" alt="">
			<h2>Frango ao Molho Pardo</h2>
			<h1>R$ 17,40</h1>
		</span> <span> <img src="/img/prato19.jpg" alt="">
			<h2>Filé de Frango</h2>
			<h1>R$ 12,60</h1>
		</span> <span> <img src="/img/prato21.jpg" alt="">
			<h2>Feijoada</h2>
			<h1>R$ 14,00</h1>
		</span> <span> <img src="/img/prato16.jpg" alt="">
			<h2>Torresmo</h2>
			<h1>R$ 24,80</h1>
		</span> <span> <img src="/img/prato23.jpg" alt="">
			<h2>Feijão Tropeiro</h2>
			<h1>R$ 11,00</h1>
		</span>
	</div>

	<footer>
		<span> <a href="https://www.tripadvisor.com.br" title="TripAdvisor"><img id="iconsLink"
					src="/img/tripAdvisor.png" /></a>
		</span> <span> <a href="https://www.facebook.com/" title="Facebook"><img id="iconsLink"
					src="/img/facebook.png" /></a>
		</span> <span> <a href="https://www.instagram.com/" title="Instagram"><img id="iconsLink"
					src="/img/instagram.png" /></a>
		</span> <br>By Tiago A. Fontenele <br> Fone: (99) 9 9999-9999 <br>
		2019
	</footer>
	<script src="/js/main.js" defer></script>
	<script src="/js/jquery.min.js" defer></script>
	<script src="/js/jquery.mask.min.js" defer></script>
</body>

</html>